<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>login1</title>
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/login1.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/login1.js"></script>
    <!---->


</head>
<body class="body">
<div class="main" >
<div class="header">
    <img src = "image/index_02.png">

</div>
    <div class="mid" >

        <div class="mid_top">
            <img src="image/NcuLogoAndWord.jfif" alt="">
        </div>
        <div>
                学号:<br>
         <input type="number" name="stu_id" placeholder="请输入学号">
         <br>
                密码:<br>
         <input type="text" name="stu_psw" placeholder="请输入密码">
        </div>
        <div class="input_box">
           <button  id="btn" type="button" class="btn btn-primary" >登陆</button>    
          <a href="/register"><input type="button" class="btn btn-info" name="regist" value="注册"></a>
        </div>
    </div>


</div>

</body>
</html>