<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/register.js"></script>
    <!---->


</head>
<body class="body">
<div class="main" >
    <div class="header">
        <img src = "image/index_02.png">

    </div>
    <div class="mid" >

        <div class="mid_top">
            <img src="image/NcuLogoAndWord.jfif" alt="">
        </div>
        <div class="mid_mid_word">注册</div>
        <!--<ul><li>-->
            <!--<input type="password" >-->
        <!--</li>-->
        <!--</ul>-->
        <!--<span class="word">忘记密码? <a href="#">点击找回</a></span>-->
        <!--<div class="mid_foot">-->
            <!--<input type="submit" value="登录"><a href="#"></a>-->
        <!--</div>-->
        <form action="">
            <ul>
                <li>学号/工号: &nbsp;&nbsp;&nbsp;
                    <input type="text">
                </li>
                <li>
                    设定密码: &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="password">
                </li>
                <li>
                    确认密码:
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password">
                </li>
                <!--<li>-->
                    <!--验证码: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<input type="text">-->
                    <!--&lt;!&ndash;验证码图片&ndash;&gt;-->
                    <!--<a href=""><img src="" alt=""></a>-->
                <!--</li>-->
            </ul>
             <div class="ID-codes">
                 <li>
                 验证码: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<input type="text">
                 <!--验证码图片-->
                 <a href=""><img src="" alt=""></a>
                 </li>
             </div>
        </form>

        <div class="mid_foot">
            <input type="submit" value="完成"><a href="#"></a>
        </div>

    </div>


</div>

</body>


</html>