<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
 <title>欢迎你，请先登陆！</title>
 <script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
 <script src="js/alert.js"></script>
</head>
<body>
 <form  action="/register" method="POST"  onsubmit="return fnRegister()">
<div class="box" id="container" style="width: 400px" >
 <div id="header" style="background-color: aquamarine">
  <h2 th:text="${title}">注册</h2>
 </div>
 <div id="content">
                学号:<br>
         <input type="text" id="stuId" placeholder="请输入10位学号" name="sId" th:value="${student.sId}" >
         <br>
                密码:<br>
         <input type="password" id="psw" placeholder="请输入5-10位密码" name="password" th:value="${studentAccount.password}">
         <br>
                重复密码:<br>
         <input type="password" id="repsw" placeholder="请输入5-10位密码">
         <br>
                 姓名:<br>
         <input type="text" id="name" placeholder="请输入姓名"  name="sName" th:value="${student.sName}">
         <br>
                 性别:<br>
         <input type="text" id="sex" placeholder="男/女" name="sex" th:value="${student.sex}">
         <br>
                 民族:<br>
         <input type="text" id="nation" placeholder="如:汉族" name="nation" th:value="${student.nation}">
         <br>
                出生日期:<br>
         <input type="date" id="birth" placeholder="请输入生日" name="birthDate" th:value="${student.birthDate}">
         <br>
                专业:<br>
         <input type="text" id="major" placeholder="如:软件工程" name="major" th:value="${student.major}">
         <br>
                年级:<br>
         <input type="text" id="grade" placeholder="如:2016级" name="grade" th:value="${student.grade}">
         <br>
                班级:<br>
         <input type="text" id="sclass" placeholder="如:161班" name="sClass" th:value="${student.sClass}">
         <br>
               身份证号:<br>
         <input type="text" id="cardNum" placeholder="请输入身份证号" name="cardNum" th:value="${student.cardNum}">
         <br>
                手机号:<br>
         <input type="text" id="mobile" placeholder="请输入手机号" name="telNum" th:value="${studentAccount.telNum}">
         <br>
                邮箱:<br>
         <input type="text" id="email" placeholder="请输入邮箱" name="email" th:value="${studentAccount.email}">
         <br>
                头像:<br>
         <input type="file" id="fId" name="fId" th:value="${student.fId}">
  <input type="submit" value="提交">
 </div>
</div>
    </form>
</body>
<script type="text/javascript">
    
    $("#stuId").blur(function(){//blur表示失去焦点时触发
        
        //取用户名
        var uid = $("#stuId").val()
        //调ajax
        $.ajax({
            url:"registerAjax",      //处理数据的页面
            data:{stuId:uid},
           // contentType: "application/json; charset=utf-8",
            type:"GET",
            //dataType:"json",
            success: function(data){
            	 //alert(data)
                 var re = JSON.parse(data)
                 //alert(re)
                 if (re.reponse == "false")
                 {
                     myAlert('系统提示','此用户名已被注册',function(){
                    	 window.location.href="/register"
                     })
                 }
                }
            
            });
        
        })
</script>
<script type="text/javascript">

function fnRegister()
{
  var stuid = document.getElementById("stuId")
  var password = document.getElementById("psw")
  var repassword = document.getElementById("repsw")
  var name = document.getElementById("name")
  var major = document.getElementById("major")
  var grade = document.getElementById("grade")
  var sclass = document.getElementById("sclass")
  var cardnum = document.getElementById("cardNum")
  var mobile = document.getElementById("mobile")
  var email = document.getElementById("email")
 
  if(stuid.value==""){
	  myAlert('系统提示','学号不能为空!',null)
	  return false
  }
  else if(password.value==""){
	  myAlert('系统提示','密码不能为空!',null)
	  return false
  }
  else if(repassword.value==""){
	  myAlert('系统提示','密码不能为空!',null)
	  return false
  }
  else if(name.value==""){
	  myAlert('系统提示','姓名不能为空!',null)
	  return false
  }
  else if(major.value==""){
	  myAlert('系统提示','专业不能为空!',null)
	  return false
  }
  else if(grade.value==""){
	  myAlert('系统提示','年级不能为空!',null)
	  return false
  }
  else if(sclass.value==""){
	  myAlert('系统提示','班级不能为空!',null)
	  return false
  }
  else if(cardnum.value==""){
	  myAlert('系统提示','身份证号不能为空!',null)
	  return false
  }
  else if(mobile.value==""){
	  myAlert('系统提示','手机号不能为空!',null)
	  return false
  }
  else if(email.value==""){
	  myAlert('系统提示','邮箱不能为空!',null)
	  return false
  }
  else if(password.value.length<5 || password.value.length>10){
	  myAlert('系统提示','请输入5-10位密码!',null)
	  return false
  }
  else if(password.value != repassword.value){
	  myAlert('系统提示','两次密码不相同!',null)
	  return false
  }
  else if(cardnum.value.length != 18){
	  myAlert('系统提示','身份证不正确!',null)
	  return false
  }
  else if(mobile.value.length != 11){
	  myAlert('系统提示','手机号不正确!',null)
	  return false
  }
  else{
	  return true
  }
  
}
</script>
</html>